body {
  color: #3d2514;
  font-family: "Bebas Neue", cursive;
}

.background-image-yellow {
  background: url("../assets/Rectangle.svg");
  height: 100%;
  padding: 55px;
  box-sizing: border-box;
}

.heading-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delivery {
  display: flex;
  align-items: center;
}

.delivery p {
  margin-left: 10px;
  font-size: 17px;
  line-height: 71px;
  color: #3d2514;
  font-weight: 700;
  font-family: "Montserrat";
  text-align: right;
}

nav {
  display: flex;
  justify-content: flex-end;
}

nav a {
  color: #3d2514;
  font-family: "Bebas Neue", cursive;
  text-decoration: none;
  margin-top: 20px;
  font-size: 21px;
  letter-spacing: 4px;
  padding-left: 50px;
}

.main-info {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

.heading-front-page-left-side p {
  display: inline-block;
  padding: 5px;
  border: 3px dashed black;
}

.heading-front-page-left-side h1 {
  font-size: 114px;
  line-height: 62px;
  color: #3d2514;
  font-weight: 400;
  margin-bottom: 0px;
}

.heading-front-page-left-side h2 {
  margin-top: 20px;
  font-size: 60px;
  line-height: 62px;
  color: #3d2514;
  font-weight: 400;
}

.heading-front-page-right-side {
  position: relative;
}

.red-dot-container {
  position: absolute;
  bottom: 0;
  background-color: red;
  width: 200px;
  height: 200px;
  border-radius: 100%;
}

.red-dot-dashed {
  text-align: center;
  border: 2px dashed white;
  color: white;
  position: relative;
  top: 9px;
  left: 9px;
  height: calc(100% - 20px);
  width: calc(100% - 20px);
  border-radius: 100%;
}

.red-dot-dashed > span {
  padding-top: 20px;
  font-family: "Bebas Neue", cursive;
  font-weight: bold;
  line-height: 38px;
  font-size: 40px;
}

.red-dot-dashed > span > p {
  margin-top: 33px;
  font-size: 20px;
}

.red-dot-dashed > span > p > span {
  font-size: 40px;
}

.second-window {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 200px);
  margin: 100px;
}

.second-window-right-side {
  display: flex;
  flex-direction: column;
}

.second-window p {
  margin: 0;

  font-size: 35px;
  color: white;
}

.second-window-left-side {
  height: 420px;
  width: 596px;
  background-image: url(../assets//burger-onion.png);
}

.upper-div {
  margin-bottom: 40px;
  height: 192px;
  width: 596px;
  background-image: url(../assets/upper-img.png);
}

.second-window-left-side p,
.upper-div p,
.lower-div p {
  margin: 20px;
}

.lower-div {
  height: 192px;
  width: 596px;
  background-image: url(../assets/lower-div.png);
}

.upper-div p:first-of-type {
  font-size: 20px;
  margin-bottom: 10px;
}

.upper-div p:first-of-type {
  font-size: 20px;
  margin-bottom: 10px;
}

.lower-div p:first-of-type {
  font-size: 20px;
  margin-bottom: 10px;
}
.Always-tasty-burgers {
  width: 200px;
  height: 40px;
  background-color: #ffc045;
  font-family: "Bebas Neue", cursive;
  font-size: 25px;
  padding-top: 15px;
  margin: 0 auto;
  padding-left: 15px;
}
.choose-enjoy {
  font-size: 50px;
  line-height: 38px;
  color: #3d2514;
  font-weight: 400;
  font-family: "Alfa Slab One";
  text-align: center;
}
.description {
  text-align: center;
  font-size: 17px;
  line-height: 29px;
  color: #3d2514;
  font-family: "Montserrat";
  width: 1070px;
  height: 51px;
  margin: 0 auto;
}
.burger-card {
  width: 367px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.burger-card button {
  margin: 0 auto;
  width: 195px;
  height: 57px;
  background-color: #bf2222;
  font-size: 27px;
  color: white;
}
.Three-burgers {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}
.discover {
  display: flex;
  position: relative;
  margin: 0 100px;
  margin-top: 160px;
  -webkit-box-shadow: 3px 6px 15px 0px rgba(0, 0, 0, 0.55);
  box-shadow: 3px 6px 15px 0px rgba(0, 0, 0, 0.55);
}
.discover-left-side {
  padding: 30px;
  width: 50%;
}

.discover-left-side span {
  font-size: 29px;
  letter-spacing: 2px;
  line-height: 46px;
  color: #3d3d3d;
  font-weight: 700;
  font-family: "Bebas Neue";
}

.discover-left-side h2 {
  font-size: 42px;
  line-height: 46px;
  color: #3d2514;
  font-weight: 400;
  font-family: "Alfa Slab One";
}

.discover-left-side p {
  font-size: 21px;
  line-height: 33px;
  color: #3d3d3d;
  font-weight: 400;
  font-family: "Montserrat";
}

.discover-right-side {
  width: 50%;
}
.discover-right-side img {
  margin: 30px;
  width: calc(100% - 60px);
}

.bubbles {
  display: flex;
  position: absolute;
  bottom: 30px;
  left: 30px;
}

.bubbles div {
  margin-right: 5px;
  width: 17px;
  height: 17px;
  background-color: #dcdcdc;
  border-radius: 100%;
}

.bubbles div:first-of-type {
  background-color: #ffc045;
}

.input-fields {
  text-align: center;
}

.input-fields p {
  font-size: 29px;
  letter-spacing: 2px;
  line-height: 46px;
  color: #3d2514;
  font-weight: 700;
}

.input-fields h2 {
  font-size: 50px;
  letter-spacing: 3px;
  line-height: 46px;
  color: #3d2514;
  font-weight: 400;
  font-family: "Alfa Slab One";
}

.fields {
  position: relative;
  width: 50vw;
  margin: 0 auto;
}

.fields input,
.fields button {
  box-sizing: border-box;
  width: calc(49% - 20px);
  margin: 10px;
  padding: 10px;
}

.fields button {
  background-color: #bf2222;
  outline: none;
  color: white;
  font-size: 18px;
  font-family: "Alfa Slab One";
  cursor: pointer;
  border: 0;
}

.fields img {
  position: absolute;
}

.fields img:first-of-type {
  top: -50px;
  left: -200px;
}

.fields img:nth-of-type(2) {
  top: -200px;
  left: -400px;
}

.fields img:last-of-type {
  top: -100px;
  right: -620px;
}

.last-section {
  display: flex;
  position: relative;
  background-image: url(../assets/padeklas.png);
  margin: 200px 150px 0 150px;
  height: 525px;
  background-repeat: no-repeat;
}

.last-section img {
  margin: 50px 25px;
}

.last-section p {
  width: 520px;
  height: 106px;
  margin-left: 25px;
  font-size: 17px;
  line-height: 25px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Montserrat";
}

.last-section span {
  position: absolute;
  bottom: 30px;
  left: 25px;
  font-size: 17px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Bebas Neue";
}

.last-left-side {
  width: 60%;
}
.last-right-side {
  margin-top: 20%;
  width: 50%;
}

.last-right-side p {
  margin: 0;
  padding: 0;
  padding-left: 10px;
}

.last-right-side img {
  margin: 0;
  padding: 0;
}

.last-right-side div {
  margin-left: 100px;
  margin-top: 20px;
  height: 30px;
  display: flex;
}

.instagram {
  position: absolute;
  bottom: 30px;
  right: 25px;
}
