/* DESKTOP */

html {
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  overflow-x: hidden;
  /* max-width: 1200px; */
  /* margin: 0 auto; */
}

.wrapper {
  width: 90%;
  margin: 0 auto;
  max-width: 1200px;
}

#scroll-down {
  position: fixed;
  z-index: 1000;
  top: 500px;
  left: 0;
  transform: rotate(270deg);
  display: flex;
  align-items: center;
}

#scroll-down a {
  font-size: 12px;
  letter-spacing: 0px;
  color: #919eb1;
  font-weight: 500;
  font-family: "Montserrat";
}

#scroll-down img {
  padding-top: 40px;
  transform: rotate(90deg);
}

nav {
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

nav ul {
  display: flex;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: black;
  font-family: "Montserrat";
  padding: 0 15px;
}

nav button {
  background-color: transparent;
  padding: 15px;
  border: 0;
  cursor: pointer;
}

nav button:last-of-type {
  background-color: #ffcc01;
}

nav .mobile-burger {
  display: none;
}

@media (max-width: 991px) {
  nav ul {
    display: none;
  }

  nav .mobile-burger {
    display: inline-block;
  }

  nav .mobile-burger img {
    height: 50px;
  }
}

.first {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}

.blue-square {
  width: 960px;
  height: 630px;
  background-color: #96bece;
  position: absolute;
  top: 30px;
  right: 0;
}
.yellow-rectangle {
  display: flex;
  width: 590px;
  height: 80px;
  background-color: #ffcc01;
  position: absolute;
  right: 0;
  bottom: 0;
  justify-content: space-around;
}

.yellow-rectangle img {
  height: 20px;
  padding-right: 20px;
}

.yellow-rectangle .phone,
.yellow-rectangle .location {
  display: flex;
  align-items: center;
}

.first-text {
  position: absolute;
  z-index: 1;
}

.first-text input {
  padding: 20px;
  outline: none;
  margin: 0;
  border: 0;
  width: 300px;
}

.first-text button {
  padding: 20px;
  width: 140px;
  background: #ffcc01;
}

.first-text h1 {
  width: 500px;
  font-size: 62px;
  letter-spacing: -2px;
  line-height: 78px;
  color: #1f373d;
  font-weight: 600;
  font-family: "Montserrat";
  margin-top: 200px;
}

.search-container form {
  display: flex;
  align-items: center;
}

.statistics {
  display: flex;
  margin-top: 800px;
}

.statistics-left-side {
  flex: 1;
}

.statistics-left-side h1 {
  font-size: 40px;
  letter-spacing: -1px;
  line-height: 50px;
  color: #1f373d;
  font-weight: 600;
  font-family: "Montserrat";
}

.statistics-left-side p {
  font-size: 13px;
  letter-spacing: 0px;
  line-height: 30px;
  color: #1f373d;
  font-weight: 400;
  font-family: "Montserrat";
}

.statistics-right-side {
  display: flex;
  flex-direction: row;
  margin-left: 100px;
  flex: 0.9;
}

.box-container {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
}

.statistics-right-side .box {
  width: 200px;
  margin: 10px;
  height: 200px;
  background-color: #f6f5f4;
  text-align: center;
}

.statistics-right-side .box h3 {
  color: #ffcc01;
  font-size: 30px;
}

.appartaments-for-rent {
  background-color: #f6f5f4;
}

.appartaments-for-rent h1 {
  font-size: 40px;
  letter-spacing: -1px;
  line-height: 50px;
  color: #1f373d;
  font-weight: 600;
  font-family: "Montserrat";
}

.appartaments-for-rent-box-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 900px;
  margin: 0 auto;
}

.appartaments-for-rent-boxes {
  background-color: white;
  margin: 20px;
  width: calc(300px - 40px);
}

.appartaments-for-rent-boxes .div-like-img {
  background-color: #b1d7e8;
  height: 200px;
}

.appartaments-for-rent-boxes p,
.appartaments-for-rent-boxes h4 {
  padding: 0 10px;
}

.price-and-etc {
  display: flex;
  justify-content: space-between;
}

.price-and-etc p:first-of-type {
  color: #ffcc01;
}

.price-and-etc p:last-of-type {
  color: darkgrey;
}

.appartaments-for-rent .search-container form {
  height: 50px;
  margin-left: 60px;
}

.appartaments-for-rent .search-container form input {
  height: 40px;
  border: 0;
}

.appartaments-for-rent .search-container form button {
  height: 40px;
  background-color: #ffcc01;
  border: 0;
  width: 100px;
  text-align: center;
}

.appartaments-for-rent .search-container form button:last-of-type {
  margin-left: 80px;
  width: 180px;
  background-color: transparent;
  background-color: white;
}

.works h1 {
  font-size: 40px;
  letter-spacing: -1px;
  line-height: 50px;
  color: #1f373d;
  font-weight: 600;
  font-family: "Montserrat";
}

.works p {
  width: 361px;
  height: 95px;
  font-size: 13px;
  letter-spacing: 0px;
  line-height: 30px;
  color: #1f373d;
  font-weight: 400;
  font-family: "Montserrat";
}

.works-box-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.works-box {
  box-sizing: border-box;
  width: calc(345px - 40px);
  height: 373px;
  margin: 20px;
  background-color: white;
  overflow: hidden;
  -webkit-box-shadow: 0px 4px 9px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 4px 9px 5px rgba(0, 0, 0, 0.2);
}

.works-box:first-of-type {
  background-color: #ffcc01;
}

.works-box h1 {
  font-family: "Montserrat";
  width: 132px;
  height: 85px;
  font-size: 120px;
  margin: 0;
  margin-top: -60px;
  margin-left: -20px;
  color: black;
}

.works-box h4,
.works-box p {
  font-family: "Montserrat";
  text-align: center;
  padding: 30px;
  color: black;
}

.services {
  display: flex;
}

.div-as-image {
  width: 40vw;
  height: 40vw;
  background-color: #acd1e1;
}

.right-side-of-services {
  margin: 0 auto;
}

.works-box:hover {
  border: 1px solid red;
}

.social-img {
  display: flex;
  flex-direction: row;
}

.social-img img {
  height: 50px;
}

.div-like-img-gray {
  height: 200px;
  background-color: #cdccce;
}

.appartaments-for-rent-boxes span {
  padding-left: 10px;
  font-family: monospace;
}

.super-awesome {
  position: relative;
  display: flex;
}

.super-awesome div {
  width: 50%;
}
.super-awesome div:first-of-type {
  height: 330px;
  background-color: #8da4be;
}

.super-awesome div .yellow-block img {
  height: 50%;
  padding-right: 20px;
}

.super-awesome div:last-of-type {
  padding: 20px;
}

.super-awesome div:last-of-type h2 {
  font-size: 25px;
  letter-spacing: -1px;
  line-height: 50px;
  color: #1f373d;
  font-weight: 600;
  font-family: "Montserrat";
}

.super-awesome div:last-of-type p {
  font-size: 13px;
  letter-spacing: 0px;
  line-height: 30px;
  color: #1f373d;
  font-weight: 400;
  font-family: "Montserrat";
}

.super-awesome div .yellow-block {
  display: flex;
  position: absolute;
  bottom: -30px;
  left: calc(25% - 150px);
  width: 300px;
  height: 80px;
  background-color: #ffcc01;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.reverse {
  flex-direction: row-reverse;
}

.super-awesome div .yellow-block.last-type {
  left: initial;
  right: -50px;
}

.super-awesome button {
  padding: 20px;
  background-color: #1f373d;
  color: white;
  border: 0;
  border-radius: 5px;
}

footer {
  height: 540px;
  background-color: #1f373d;
}

.upper-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  border-bottom: 3px solid white;
}

.upper-div h2 {
  color: white;
  font-size: 30px;
  letter-spacing: -1px;
  color: #ffffff;
  font-weight: 600;
  font-family: "Montserrat";
}

.upper-div button {
  align-items: center;
  display: flex;
  background-color: white;
  border: 0;
  color: #919eb1;
  padding: 0 20px;
  padding-right: 160px;
  cursor: pointer;
  height: 70px;
}

.upper-div button img {
  margin-left: 100px;
  transform: rotate(270deg);
}
/* TABLET */

@media (max-width: 991px) {
  .first-text {
    margin-left: 40px;
  }

  .tablet-menu:focus + .links {
    position: absolute;
    background-color: red;
    z-index: 10000000;
    display: block;
  }

  .statistics {
    flex-direction: column;
  }

  .statistics-left-side {
    margin: 0 auto;
  }

  .statistics-right-side {
    margin: 0 auto;
  }

  .box-container {
    width: 90%;
    margin: 0 auto;
  }

  .services {
    flex-direction: column;
  }

  .div-as-image {
    width: 90%;
    height: 500px;
    margin: 0 auto;
  }

  .statistics-left-side {
    padding: 30px;
  }
}

/* MOBILE */

@media (max-width: 700px) {
  .right-side-header-buttons {
    display: none;
  }

  .appartaments-for-rent-box-container {
    width: 60%;
    margin: 0 auto;
  }

  .appartaments-for-rent h1 {
    padding: 40px;
  }
}
