.kubas,
.staciakampis {
  width: 50px;
  height: 50px;
  background: red;
  margin-bottom: 20px;
  border: 2px;
  color: black;
}
.staciakampis {
  width: 70px;
  height: 50px;
  background: green;
  margin-bottom: 20px;
  border: 2px;
  color: black;
}
.green {
  color: green;
}
.blue {
  color: blue;
}
input:nth-of-type(1) {
  background-color: yellow;
  
}
input:nth-of-type(2){
  background-color: green;
}
input:nth-of-type(3) {
  background-color: red;
}
.veliava{
  display:flex;
  flex-direction: column;
  width: 100px;
  
}
